@font-face{ font-family: 'vazir'; src:url('fonts/vazir.eot?#') format('eot'), url('fonts/vazir.woff') format('woff'), url('fonts/vazir.ttf') format('truetype');}
@font-face{ font-family: 'yekan'; src:url('fonts/yekan.eot?#') format('eot'), url('fonts/yekan.woff') format('woff'), url('fonts/yekan.ttf') format('truetype');}

@font-face {
	font-family: IRANSans;
	font-style: normal;
	font-weight: 900;
	src: url('fonts/eot/IRANSansWeb(FaNum)_Black.eot');
	src: url('fonts/eot/IRANSansWeb(FaNum)_Black.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('fonts/woff2/IRANSansWeb(FaNum)_Black.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('fonts/woff/IRANSansWeb(FaNum)_Black.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('fonts/ttf/IRANSansWeb(FaNum)_Black.ttf') format('truetype');
}
@font-face {
	font-family: IRANSans;
	font-style: normal;
	font-weight: bold;
	src: url('fonts/eot/IRANSansWeb(FaNum)_Bold.eot');
	src: url('fonts/eot/IRANSansWeb(FaNum)_Bold.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('fonts/woff2/IRANSansWeb(FaNum)_Bold.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('fonts/woff/IRANSansWeb(FaNum)_Bold.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('fonts/ttf/IRANSansWeb(FaNum)_Bold.ttf') format('truetype');
}
@font-face {
	font-family: IRANSans;
	font-style: normal;
	font-weight: 500;
	src: url('fonts/eot/IRANSansWeb(FaNum)_Medium.eot');
	src: url('fonts/eot/IRANSansWeb(FaNum)_Medium.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('fonts/woff2/IRANSansWeb(FaNum)_Medium.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('fonts/woff/IRANSansWeb(FaNum)_Medium.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('fonts/ttf/IRANSansWeb(FaNum)_Medium.ttf') format('truetype');
}
@font-face {
	font-family: IRANSans;
	font-style: normal;
	font-weight: 300;
	src: url('fonts/eot/IRANSansWeb(FaNum)_Light.eot');
	src: url('fonts/eot/IRANSansWeb(FaNum)_Light.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('fonts/woff2/IRANSansWeb(FaNum)_Light.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('fonts/woff/IRANSansWeb(FaNum)_Light.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('fonts/ttf/IRANSansWeb(FaNum)_Light.ttf') format('truetype');
}
@font-face {
	font-family: IRANSans;
	font-style: normal;
	font-weight: 200;
	src: url('fonts/eot/IRANSansWeb(FaNum)_UltraLight.eot');
	src: url('fonts/eot/IRANSansWeb(FaNum)_UltraLight.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('fonts/woff2/IRANSansWeb(FaNum)_UltraLight.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('fonts/woff/IRANSansWeb(FaNum)_UltraLight.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('fonts/ttf/IRANSansWeb(FaNum)_UltraLight.ttf') format('truetype');
}
@font-face {
	font-family: IRANSans;
	font-style: normal;
	font-weight: normal;
	src: url('fonts/eot/IRANSansWeb(FaNum).eot');
	src: url('fonts/eot/IRANSansWeb(FaNum).eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('fonts/woff2/IRANSansWeb(FaNum).woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('fonts/woff/IRANSansWeb(FaNum).woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('fonts/ttf/IRANSansWeb(FaNum).ttf') format('truetype');
}


@font-face {
	font-family: iranyekan;
	font-style: normal;
	font-weight: 600;
	src: url('fonts/yekan/eot/iranyekanwebboldfanum.eot');
	src: url('fonts/yekan/eot/iranyekanwebboldfanum.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('fonts/yekan/woff/iranyekanwebboldfanum.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('fonts/yekan/ttf/iranyekanwebboldfanum.ttf') format('truetype');
}

@font-face {
	font-family: iranyekan;
	font-style: normal;
	font-weight: 300;
	src: url('fonts/yekan/eot/iranyekanweblightfanum.eot');
	src: url('fonts/yekan/eot/iranyekanweblightfanum.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('fonts/yekan/woff/iranyekanweblightfanum.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('fonts/yekan/ttf/iranyekanweblightfanum.ttf') format('truetype');
}

@font-face {
	font-family: iranyekan;
	font-style: normal;
	font-weight: normal;
	src: url('fonts/yekan/eot/iranyekanwebregularfanum.eot');
	src: url('fonts/yekan/eot/iranyekanwebregularfanum.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('fonts/yekan/woff/iranyekanwebregularfanum.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('fonts/yekan/ttf/iranyekanwebregularfanum.ttf') format('truetype');
}

@font-face {
	font-family: shabnam;
	font-style: normal;
	font-weight: 600;
	src: url('fonts/shabnam/Shabnam-Bold-FD.eot');
	src: url('fonts/shabnam/Shabnam-Bold-FD.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('fonts/shabnam/Shabnam-Bold-FD.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('fonts/shabnam/Shabnam-Bold-FD.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('fonts/shabnam/Shabnam-Bold-FD.ttf') format('truetype');
}
@font-face {
	font-family: shabnam;
	font-style: normal;
	font-weight: 300;
	src: url('fonts/shabnam/Shabnam-Light-FD.eot');
	src: url('fonts/shabnam/Shabnam-Light-FD.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('fonts/shabnam/Shabnam-Light-FD.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('fonts/shabnam/Shabnam-Light-FD.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('fonts/shabnam/Shabnam-Light-FD.ttf') format('truetype');
}
@font-face {
	font-family: shabnam;
	font-style: normal;
	font-weight: normal;
	src: url('fonts/shabnam/Shabnam-FD.eot');
	src: url('fonts/shabnam/Shabnam-FD.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('fonts/shabnam/Shabnam-FD.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('fonts/shabnam/Shabnam-FD.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('fonts/shabnam/Shabnam-FD.ttf') format('truetype');
}

label {
    text-align: right;
}

.tp-tab.selected .tp-tab-title,.tp-tab-title:hover { background-color: #fff !important; } .tp-tab.selected .tp-tab-title:before,.tp-tab-title:hover:before { content: ''; width: 18px; height: 18px; transform: rotate(45deg); background-color: #fff; top: -7px; position: absolute; border-radius: 3px; left: 50%; overflow: visible; margin-left: -9px;}

input[type=text], input[type=email], input[type=password], input[type=search], input[type=number], input[type=url], input[type=tel], input[type=date], select, textarea {
    background: #fff;
}
.box-icon-align-top .box-icon-wrapper {
    margin-bottom: 0px;
}
.menu-simple-dropdown .sub-menu-dropdown, .menu-simple-dropdown .sub-sub-menu {
    width: 250px;
}
.woodmart-products-tabs.tabs-design-simple .owl-nav, .woodmart-products-tabs.tabs-design-simple .wrap-loading-arrow {
    right: auto;
	left: 0;
}
.woodmart-products-tabs .tabs-name {
	font-weight:400;
}
.blog-design-masonry .entry-title {
    font-size: 16px;
}
.post-single-page .article-body-container {
    text-align: right;
}
.post-single-page .entry-title {
    font-size: 22px;
}
.mega-menu-list .sub-sub-menu li a, .menu-mega-dropdown .sub-sub-menu li a {
    padding: 5px 0;
}
.title-size-default .entry-title {
    font-size: 34px;
}
.product-image-summary .entry-title {
    font-size: 22px;
}
.tabs-layout-tabs .tabs {
    text-align: right;
}
.popup-added_to_cart h4 {
    font-size: 18px;
}
.icons-design-colored .social-instagram {
    background-color: #ef5a88;
}

.woodmart-sidebar-content .widget {
	padding: 20px;
	box-shadow: 0 1px 1px 1px #e6e6e6;
}
.woodmart-sidebar-content .widget-title {
	background: rgba(125, 125, 125, 0.15);
    padding: 10px 20px;
}

.woodmart-navigation .item-level-0>a {
    letter-spacing: 0px;
}

.added_to_cart, .btn, .button, [type=button], [type=submit], button {
    letter-spacing: 0;
}

@media (max-width: 768px) {
.woodmart-products-tabs.tabs-design-simple .owl-carousel .owl-nav {
    left: -5px;
	right:auto;
}
}

.tabs-layout-tabs .tabs li a {
    width: 100px;
    text-align: center;
}

.tabs-layout-tabs .tabs li a:after {
    top: 100%;
    bottom: 0;
}
#tab-additional_information .shop_attributes td {
    text-align: right;
}
.tabs-layout-tabs #tab-additional_information .shop_attributes {
    max-width: 850px;
}
.woocommerce-order-pay .entry-content>.woocommerce {
    max-width: 850px;
    margin: 0 auto;
}
ul.order_details li {
    display: inline-block;
    margin-left: 10px;
    padding-left: 10px;
    border-left: 1px dashed #c7c7c7;
	margin-bottom: 15px;
}
ul.order_details li:last-child {
    margin-left: 0px;
    padding-left: 0px;
    border-left: 0px dashed #c7c7c7;
}
.woocommerce-order-pay .entry-content>.woocommerce:after, .woocommerce-order-pay .entry-content>.woocommerce:before {
    background-image: radial-gradient(farthest-side,rgba(0,0,0,0) 6px,#f9f9f9 0);
}
.checkout-order-review, .woocommerce-order-pay .entry-content>.woocommerce {
    background-color: #f9f9f9;
}
.woodmart-prefooter {
    padding-bottom: 0px;
}
.woodmart-slide-inner {
    max-width: 100% !important;
}

.post-slide .entry-title {
    font-size: 14px !important;
	font-weight:600;
}
.tp-tab-title { padding: 19px 10px !important; font-family: 'iranyekan' !important; font-weight: normal !important; background: rgba(66,73,89,.8) !important;} .tp-tab-mask {overflow:visible !important; } .tp-tab.selected .tp-tab-title,.tp-tab-title:hover { background-color: #fff !important; } .tp-tab.selected .tp-tab-title:before,.tp-tab-title:hover:before { content: ''; width: 18px; height: 18px; transform: rotate(45deg); background-color: #fff; top: -7px; position: absolute; border-radius: 3px; left: 50%; overflow: visible; margin-left: -9px;}